* {
  box-sizing: border-box;
}
body {
  background-color: #a13646;
  font-family: 'Cabin', sans-serif;
}
.page-header {
  font-family: 'PT Sans', sans-serif;
  font-size: 6em;
  color: #e8a1ac;
}
.results-page-title {
  font-family: 'PT Sans', sans-serif;
  color: #e8a1ac;
  padding: 25px 0 15px;
}
.panel-default {
  font-size: 1.5em;
  border-color: #222;
  transition: all 0.1s;
}
.panel-default:hover {
  -ms-transform: scale(1.02,1.02); /* IE 9 */
  -webkit-transform: scale(1.02,1.02); /* Safari */
  transform: scale(1.02,1.02);
  transition: all 0.4s;
}
.panel-heading {
  border-color: #222;
}
.panel-title {
  font-size: 1.5em;
}
.panel-default>.panel-heading {
  font-family: 'PT Sans', sans-serif;
  background-color: #79202e;
  border-color: #222;
  color: #fae6e9;
}
.panel-default:hover >.panel-heading {
  background-color: #59000e;
  color: #faf6f9;
}
.panel-body {
  font-family: 'Cabin', sans-serif;
  background-color: #fae6e9;
}
.panel-default:hover .panel-body {
  background-color: #faf6f9;
}
.result-link a {
  color: #333;
}
.result-link a:hover {
  text-decoration: none;
}
